@model ProductViewmodel

@{

    var popularClass = Model.Products.Count > 2 ? "popular" : "";

    var products = Model.Products;
    var categoryName = Model.Category.Name;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .popular {
            color: green;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1 class="@popularClass">@categoryName</h1>
    @if (products.Count == 0)
    {
        <p style="color:red">Listelenecek ürün bulunamadı.</p>
    }
    else
    {
        <ul>
            @foreach (var product in products)
            {
                if (product.isApproved)
                {
                    <li>
                        <div>
                            <p>@product.Name</p>
                            <p>@product.Price</p>
                            <p>@product.Description</p>
                        </div>
                    </li>
                }
                else
                {
                    <li style="background-color: red;">
                        <p>@product.Name</p>
                        <p>Ürün satışta değil.</p>
                    </li>
                }

            }
        </ul>
    }

</body>

</html>